{% extends 'base.html' %}



{% block title %}Booking Page{% endblock %}



{% block content %}

    <section class="py-32">
        <div class="container prose prose-base">
            <h1>
                This is the booking page.
            </h1>

            {% for preset, slots in time_slots_by_preset.items %}
                <h2>{{ preset }}</h2>
                <ul>
                    {% for time_slot in slots %}
                        <li>{{ time_slot }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% include 'idas/sub/notification.html' with msg=msg msg_color=msg_color %}