{% extends 'base.html' %}

{% block content %}
    <section class="py-20">
        <div class="container flex flex-col md:flex-row gap-20">

            <div class="w-full md:w-8/12 prose prose-lg">
                <h2 class="mb-8">Appointment details</h2>
                <div id="appointment_update_form">
                    {% include 'idas/sub/appointment_update_form.html' %}
                </div>
            </div>

            <div class="w-full md:w-5/12 prose prose-lg">
                <h2 class="mb-8">Appointment Files</h2>
                <div id="appointment_file_form">
                    {% include 'idas/sub/appointment_file_form.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}