{% extends 'dash_layout.html' %}

{% block dash_content %}
        <div class="container flex flex-col md:flex-row gap-20">

            <div class="w-full">
                <h2 class="mb-8 text-4xl md:text-5xl font-bold">Chamber details</h2>
                <div id="preset_update_form">
                    {% include 'idas/sub/preset_update_form.html' %}
                </div>
            </div>

            <div class="w-full">
                <h2 class="mb-8 text-4xl md:text-5xl font-bold">Chamber Slots</h2>
                <div id="preset_slots_fomrset">
                    {% include 'idas/sub/preset_slot_form.html' %}
                </div>
            </div>
        </div>

{% endblock %}