<div>
    <h1 class="text-3xl md:text-4xl font-bold">
        Active Appointments
    </h1>
    
    <ul class="mt-14 space-y-5">
        {% for appointment in active_appointments %}
            {% include 'idas/sub/inner/appointment_item.html' %}
        {% empty %}
            <li>
                No active appointments yet!
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h1 class="text-3xl md:text-4xl font-bold">
        Completed Appointments
    </h1>
    
    <ul class="mt-14 space-y-5">
        {% for appointment in completed_appointments %}
            {% include 'idas/sub/inner/appointment_item.html' %}
        {% empty %}
            <li>
                No completed appointments yet!
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h1 class="text-3xl md:text-4xl font-bold">
        Cancelled Appointments
    </h1>
    
    <ul class="mt-14 space-y-5">
        {% for appointment in cancelled_appointments %}
            {% include 'idas/sub/inner/appointment_item.html' %}
        {% empty %}
            <li>
                No cancelled appointments
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <h1 class="text-3xl md:text-4xl font-bold">
        Missed Appointments
    </h1>
    
    <ul class="mt-14 space-y-5">
        {% for appointment in missed_appointments %}
            {% include 'idas/sub/inner/appointment_item.html' %}
        {% empty %}
            <li>
                No missed appointments
            </li>
        {% endfor %}
    </ul>
</div>

{% include 'idas/sub/notification.html' with msg=msg msg_color=msg_color %}