<h1 class="text-4xl md:text-5xl font-bold">
    Active chamber
</h1>

<ul class="mt-14 space-y-5">
    {% for preset in active_preset %}
        {% include 'idas/sub/inner/preset_item.html' %}
    {% empty %}
        No active chamber yet!
    {% endfor %}
</ul>

<h1 class="mt-20 text-4xl md:text-5xl font-bold">
    Previous chamber
</h1>

<ul class="mt-14 space-y-5">
    {% for preset in previous_preset %}
        {% include 'idas/sub/inner/preset_item.html' %}
    {% empty %}
        <li>
            No previous chamber yet!
        </li>
    {% endfor %}
</ul>

{% include 'idas/sub/notification.html' with msg=msg msg_color=msg_color %}