{% extends 'base.html' %}

{% block content %}
  <section class="py-36">
    <div class="container max-w-lg">
      <h1 class="text-5xl font-bold uppercase">
        Login
      </h1>
      <form
          class="mt-12"
          method="post"
          action="{% url 'login' %}"
      >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      <div class="mt-5">
        Dont have an account?
        <a href="{% url 'signup' %}" class="underline">
          Signup here
        </a>
        <div>
          <a href="{% url 'password_reset' %}" class="underline text-red-500">
            Forgot Password?
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}