<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

    <title>{% block title %}Individual Doctor Appointment System{% endblock %}</title>
  </head>
  <body>

    <div
        id="msg"
        class="notification z-50"
        hx-swap-oob
    ></div>

    <header>
        {% include 'components/header.html' %}
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        footer
    </footer>

  </body>
</html>