<footer class="py-20 bg-secondary/10">
    <div class="container flex flex-col md:flex-row gap-8 justify-between items-center">
        <div class="w-full md:w-auto">
            <h2 class="font-bold text-7xl">
                IDAS
            </h2>
            <p>
                Powered by IDAS
            </p>
        </div>
        <div class="w-full md:w-auto">
            <h2 class="font-bold text-2xl">
                Quick Links
            </h2>
            <ul class="mt-6 space-y-1 underline">
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'appointment_get' %}">
                        Get Appointment
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">
                            Signup
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</footer>