<footer class="py-20 bg-secondary/10">
    <div class="container flex flex-col md:flex-row gap-8">
        <div class="w-full md:w-4/12">
            <h2 class="font-bold text-7xl">
                IDAS
            </h2>
            <p>
                Something goes here.
            </p>
        </div>
        <div class="w-full md:w-4/12">
            <h2 class="font-bold text-2xl">
                Option one
            </h2>
            <ul class="mt-6 space-y-1 underline">
                <li>
                    <a href="">
                        Menu item one
                    </a>
                </li>
                <li>
                    <a href="">
                        Menu item
                    </a>
                </li>
                <li>
                    <a href="">
                        Menu item another
                    </a>
                </li>
                <li>
                    <a href="">
                        Menu another
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-4/12">
            <h2 class="font-bold text-2xl">
                Option one
            </h2>
            <ul class="mt-6 space-y-1 underline">
                <li>
                    <a href="">
                        Menu item one
                    </a>
                </li>
                <li>
                    <a href="">
                        Menu item another
                    </a>
                </li>
                <li>
                    <a href="">
                        Menu another
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>